@font-face {
    font-family: Anjoman;
    src: url("./fonts/Anjoman-FaNum-Regular.6e2450f.woff2");
}

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #F8F9FB;
}

.font-Anjoman {
    font-family: Anjoman !important;
}

header {
    background-color: #393D46;
}

.card {
    height: 600px;
}

.card-img-top {
    height: 200px;
    object-fit: contain;
}

input::placeholder {
    text-align: end;
}